
/* Gradient across header ---------------------------------------------------*/
header.md-header {
    background-image: linear-gradient(100deg,#007bff 20%, #5bbb777d 55%, #011f098c)
    /*background: radial-gradient(circle, rgba(71,152,135,1) 0%, rgba(0,123,255,1) 99%);*/
}

nav.md-tabs {
    background-image: linear-gradient(100deg,#007bff 20%, #5bbb777d 55%, #011f098c)
    /*background: radial-gradient(circle, rgba(71,152,135,1) 0%, rgba(0,123,255,1) 99%);*/
}


/* Global spacing settings for content container --------------------------- */
.md-content__inner.md-typeset {
    line-height: 1.3em;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

/* Adjusting definition lists written in RST */
.md-typeset dd {
    margin: 0 0 0.2rem 1.1rem;
}

/* Reducing line height of ::tabbed directive */
div.tabbed-set.docutils {
    margin: 0 0 0.2rem;
    line-height: 1em;
}

div.md-sidebar.md-sidebar--primary label {
    margin-left: -0.4rem;
    margin-bottom: -0.2rem;
}

li.md-nav__item > .md-nav__link.caption {
    margin-bottom: -0.1em;
}

li.md-nav__item * {
    line-height: 0.75rem;
    font-size: 0.7rem;
    overflow: visible;
    margin-bottom: -0.2rem;
}

/* Expanding line-height for primary TOC */
/*ul.md-nav__list {*/
/*    line-height: 1rem;*/
/*}*/

/*!* Expanding line-height for secondary TOC *!*/
/*ul.md-source__facts  li {*/
/*    margin-top: 0;*/
/*}*/

/* Style for the paragraph that precedes bullets or definitions list */
.md-typeset .hanging {
    margin-bottom: -0.5rem;
}

 /* Reducing space between list items */
.md-typeset ol.simple, ul.simple, dl.simple {
    margin-bottom: 0.1rem;
    margin-top: -0.8rem;
    /*margin-left: 0.4rem;*/
}

/* Reducing margins on headers */
.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    color: #000000b5;
}

/* Shrinking margins on lists */
/*ol.simple, ul.simple {*/
/*    margin-bottom: 0.1rem;*/
/*    !*margin-top: -0.45rem;*!*/
/*    margin-top: -0.8rem;*/
/*    margin-left: 0.4rem;*/
/*}*/

.md-typeset ol li, .md-typeset ul li {
    margin-bottom: -0.3rem;
    margin-top: 0;
    /*margin-bottom: 0.1rem;*/
    /*margin-top: -0.3rem;*/

    /*margin-left: 0.4rem;*/
}

ol > li:last-child > p,  ul > li:last-child > p, dl > dd:last-child > p{
    margin-bottom: unset;
}

/* 'indented' style */
.md-typeset .sn-indent-h {
    margin-left: 0.25em;
    margin-right: 1.2rem;
}

/* Indent cell horizontally */
.md-typeset .sn-indent-h-cell {
    padding-left: 0.95rem;
    padding-right: 2em;
}

/* Indent cell horizontally */
.md-typeset .sn-indent-h-cell-contents * {
    padding-left: 0.95rem;
    padding-right: 2em;
}

/* Indent cell horizontally */
.md-typeset .sn-indent-h-cell-right {
    /*margin-right: 2em;*/
    padding-right: 2em;
}

.md-typeset .sn-indent-h-cell-left {
    padding-left: 0.95rem;
}


/* Indent cell horizontally */
.md-typeset .sn-indent-h-cell-right-hr {
    margin-right: 1.75em;
}

/* Indent to right side (containers following code cells) */
.md-typeset .sn-indent-h-sub-cell-right {
    margin-right: 2rem;
}

/* 'remove vertical margins: bottom' */
.md-typeset .sn-dedent-v-b * {
    margin-bottom: 0;
}

.md-typeset .sn-dedent-v-b-h * {
    margin-bottom: 0.5rem;
}

/*.md-typeset .sn-dedent-v-b-container {*/
/*    margin-bottom: 0;*/
/*}*/

/* 'remove vertical margins: top' */
.md-typeset .sn-dedent-v-t * {
    margin-top: 0;
}

/* ---/ remove vertical margin /--- */
.md-typeset .sn-dedent-v-t-container {
    margin-top: 0;
}

.md-typeset .sn-dedent-v-b-container {
    margin-bottom: 0;
}

/* ---/ reduce vertical margin (container) /--- */
.md-typeset .sn-dedent-v-container {
    /*padding: inherit;*/
    margin-top: 0;
    margin-bottom: 0;
}

.md-typeset .sn-dedent-v-t-h-container {
    margin-top: 0.5rem;
}

.md-typeset .sn-dedent-v-b-h-container {
    margin-bottom: 0.5rem;
}

.md-typeset .sn-dedent-v * {
    margin-top: 0;
    margin-bottom: 0;
}


/* 'remove half of vertical margins: top' */
.md-typeset .sn-dedent-v-t-h * {
    margin-top: 0.5rem;
}

/* 'remove half of vertical margins: bottom' */
.md-typeset .sn-dedent-v-b-h * {
    margin-bottom: 0.5rem;
}

/* 'increase vertical margins: bottom' */
.md-typeset .sn-increase-margin-b * {
    margin-bottom: 1rem;
}

.md-typeset .sn-increase-margin-v-b-container {
    margin-bottom: 1rem;
}

/* 'increase vertical margins: bottom' */
.md-typeset .sn-increase-margin-b-h * {
    margin-bottom: 0.5rem;
}

/* 'increase vertical margins: bottom' */
.md-typeset .sn-increase-margin-t * {
    margin-bottom: 1rem;
}

.md-typeset .sn-increase-margin-v-t-container {
    margin-bottom: 1rem;
}


.md-typeset .sn-inline-flex-container {
    display: inline-flex;
}

.md-typeset .sn-inline-block-container {
    display: inline-block;
}

.md-typeset .sn-inline-table-container {
    display: inline-table;
}

.md-typeset .sn-block-container {
    display: block;
}

.md-typeset .sn-indent-h-table {
    padding: 0 0.8rem;
}

/* Line breaks / <hr> ------------------------------------------------------ */

/* Standard green - thin */
hr.sn-green {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-style: solid;
    border-bottom-color: #11838e59;
}

/*noinspection CssReplaceWithShorthandSafely*/
/* Tweaking for within admonitions to be lighter */
div.admonition hr.sn-green {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-style: solid;
    border-bottom-color: #11838e59;
}

/* Reduced margins on default docutils line break */
.md-typeset hr {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

/* Sub-header green: h2-h3 */
.md-typeset hr.sn-green-thick {
    height: 0.16rem;
    background-color: #11838e59;
    margin-top: -0.3em;
    margin-bottom: 0.3rem;
    border: 0;
}

.md-typeset hr.sn-grey-thick {
    height: 0.16rem;
    background-color: #5f656b42;
    margin-top: -0.3em;
    margin-bottom: 0.3rem;
    border: 0;
}

/* Sub-header green: h3-h4 */
.md-typeset hr.sn-green-medium {
    height: 0.1rem;
    background-color: #11838e59;
    margin-top: -0.2em;
    /*margin-right: 2em;*/
    border: 0;
}

/* Padding */
.md-typeset hr.sn-spacer {
    height: 0.16rem;
    background-color: #fff;
    border: 0;
}

.md-typeset hr.sn-spacer-thin {
    margin: 0;
    height: 0.1rem;
    background-color: #fff;
    border: 0;
}

/* Solid gray line */
.md-typeset hr.sn-grey {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-style: solid;
    border-color: #6a94bf73;
}

/* -- Jupyter/Notebook adjustments ----------------------------------------- */

/* Reduce space between leading paragraph and jupyter code cell */
.md-typeset .sn-pre-cell p {
    margin-bottom: 0.5rem;
}

/* Reduce space between leading paragraph and literalinclude code cell */
.md-typeset .sn-pre-code * {
    margin-bottom: 0.4rem;
}

.md-typeset .sn-pre-code-dedent {
    padding-right: 2em;
}

.md-typeset .sn-post-code * {
    margin-top: 1rem;
}

/* Indenting Jupyter cells */
.cell.docutils.container {
    padding-left: 0.9rem;
    padding-right: 2em;
    margin-top: -0.3em;
}

div.highlight {
    /*margin: 0 0 -0.25rem 0;*/
    margin: -0.25rem 0 -0.25rem 0;
}

/* Reducing space between cell and output */
.cell_output.docutils.container {
    margin-top: 0.4em;
}

.cell_output.docutils.container div.highlight {
    /*margin: unset;*/
    /*margin: -0.25rem 0 -0.25rem 0;*/
    margin-top: 0.4rem;
    /*margin-top: -0.6em;*/
}

/* Reducing vertical margins on code and line numbers */
.md-typeset .codehilite code, .md-typeset .codehilite pre, .highlight code, .highlight pre, .md-typeset .linenos .linenodiv {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.md-typeset div.cell div.cell_input {
    background: #f0f0f0;
    border-radius: .1rem;
    color: #37474f;
    line-height: 1.4em;
    border: 0;
}

/* -- Tweaking nested tabbed directives within admonitions ----------------- */
div.admonition div.tabbed-set.docutils {
    margin-top: -0.6rem;
}

/* Unsetting nested tabbed directives that don't have a preceding <p> */
p.admonition-title + div.tabbed-set.docutils {
    margin-top: unset;
}

div.admonition label.tabbed-label {
    font-size: 0.65rem;
    color: #212529a1;
    font-style: italic;
}

/* Icons ------------------------------------------------------------------- */

/* 'Setup' Gear Link style */
.md-typeset .fa-cog {
    color: #11838e;
    font-style: inherit;
    display: inline;
    overflow: visible;
    /*background-color: #6c757d0f;*/
}

/* 'Setup' Gear Link content */
.md-typeset .fa-cog:before {
content: " \f013\ Setup";
}

/* 'Snippet' file icon */
.md-typeset span.std.std-doc span.fa-file-code {
    display: inline;
    overflow: visible;
}.md-typeset span.std.std-doc {
    /*color: #356794bf;*/
}

/* =========================/ ADMONITIONS /==================================*/

/* -- is-setup ------------------------------------------------------------- */
.md-typeset .admonition.is-setup {
    border-left-color: #11838e;
    margin: -0.15rem 1.2rem .7rem 0.25em;
    display: inline-block;
    overflow: hidden;
}

.md-typeset .admonition.is-setup>.admonition-title{
    line-height: 0.7rem;
    background-color: #72edf936;
    border-bottom-color: #11838e2e;
    font-weight: 100;
}

.md-typeset .admonition.is-setup>.admonition-title:before{
    color: #11838e;
    top: 0.25rem;
    font-weight: 900; /* 600+ if not on pro */
    font-size: 1rem;
    font-family: 'FontAwesome', serif;
    content: "\f013";
}

/* -- sn-fixture ----------------------------------------------------------- */
.md-typeset .admonition.sn-fixture {
    display: inline-block;
    margin: -0.15rem 1.5rem .7rem 0.9rem;
    border-style: solid;
    border-width: thin;
    border-color: #11838e2e;
    overflow: hidden;
}

.md-typeset .admonition.sn-fixture>.admonition-title{
    line-height: .7rem;
    background-color: #ffff;
    border-bottom-style: solid;
    border-bottom-color: #11838e2e;
    font-weight: 100;
}

.md-typeset .admonition.sn-fixture>.admonition-title:before{
    color: #11838e;
    top: 0.12rem;
    font-weight: 900; /* 600+ if not on pro */
    font-size: 1.3rem;
    font-family: 'FontAwesome', serif; /* TODO: FontAwesome 4.7 -> 5.0 */
    content: "\f103";  /* double arrows down */
}

/* -- is-explanation ------------------------------------------------------- */
.md-typeset .admonition.is-explanation {
    display: inline-block;
    /*margin: -0.15rem 1.5rem .7rem 0.85rem;*/
    border-style: solid;
    border-width: thin;
    border-color: #11838e2e;
}

.md-typeset .admonition.is-explanation>.admonition-title{
    line-height: .7rem;
    font-weight: 100;

    border-bottom: 0;
    /*background-color: #448aff0a;*/

    background-color: #ffff;
    /*border-bottom-style: solid;*/
    /*border-bottom-color: #11838e2e;*/
}

.md-typeset .admonition.is-explanation>.admonition-title:before{
    color: #1b6983b8;
    top: 0.32rem;
    font-weight: 500; /* 600+ if not on pro */
    font-size: 0.9rem;
    font-family: 'FontAwesome', serif;
    content: "\f0c9";  /* bars */
}

/* -- is-content ----------------------------------------------------------- */
.md-typeset .admonition.is-content {
    border-left: 0;
    display: block;
    /*margin: -0.8rem 1.5rem .7rem 0.9rem;*/
}

.md-typeset .admonition.is-content>.admonition-title{
    line-height: 0.7rem;
    background-color: #ffffff;
    font-weight: 500;
    font-style: italic;
}

.md-typeset .admonition.is-content>.admonition-title:before{
    color: #0f70d173;
    top: 0.35rem;
    font-weight: 900; /* 600+ if not on pro */
    font-size: 0.85rem;
    font-family: 'FontAwesome', serif;
    content: "\f15c";
}

/* Tip --------------------------------------------------------------------- */
/*.md-typeset .admonition.tip>.admonition-title{*/
/*    background-color: #fff;*/
/*}*/

.md-typeset .admonition.sn-clear-title>.admonition-title{
    background-color: #fff;
}

/* Changing tabs color to be green inside of 'Tips' */
.admonition.tip .tabbed-set>input:checked+label {
    border-color: #00bfa5;
    color: #00bfa5;
}

.admonition.tip .tabbed-content {
    box-shadow: 0 -.0625rem #00bfa54d;
    display: none;
    order: 99;
    width: 100%;
}

.admonition.tip .tabbed-content p {
    margin-top: inherit;
}

/* Reducing space between cell and output */
div.output.stream.highlight-myst-ansi.notranslate {
    margin-top: 0.2em;
}

/* Reducing space between cell and output */
div.output.text_plain.highlight-myst-ansi.notranslate {
    margin-top: 0.2em;
}

/* Reducing line height of lists within tabs */
.tabbed-content.docutils {
    line-height: 1.3em;
    padding-bottom: 0;
}.p,ol.simple,ul.simple,dl.simple,


/* Removing scroll effect from collapsed admonition boxes */
div.toggle.admonition {
    overflow: hidden;
 }

/* Reducing font-size for lists nested inside of admonition directives */
/*.md-typeset .admonition, .md-typeset details .p, ol.simple, ul.simple, dl.simple {*/
/*    font-size: 0.7rem;*/
/*}*/

/*div.admonition p, ol.simple, ul.simple, dl.simple {*/
/*    font-size: 0.7rem;*/
/*}*/

div.admonition p {
    font-size: 0.7rem;
}


/* Toggle Button ------------------------------------------------------------*/

/* Moving toggle button hint  closer to the symbol */
button.toggle-button.toggle-button-hidden {
    margin-top: 0.25rem;
    right: 0.2em;
}

/* Moving toggle button symbol farther to the right */
button.toggle-button.toggle-button-hidden:before {
    left: -1.3rem;
}

/* Shrinking toggle button size */
.toggle-button {
    font-size: 0.6rem;
}

/* Re-centering +/- symbol */
.toggle-button .bar {
    left: 10%;
    top: 40%;
}


/* Allowing check marks to 'spill' into previous/next lines (not visible in render) */
span.fa.fa-check.text-success.mr-1 {
    overflow: visible;
}

/* Un-indenting parent/caption sections of globaltoc */
span.md-nav__link.caption {
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: -0.5em;
}

/* Adjusting copybutton position in notebook cells */
/*div.highlight-ipython3.notranslate .copybtn.o-tooltip--left {*/
/*    top: 0.4em;*/
/*}*/

.admonition.indented {
    margin-left: 0.7rem;
    margin-right: 1.2rem;
}

/* Reducing admonition title line height */
.md-typeset .admonition>.admonition-title{
    line-height: 0.7rem;
}

/* Adjusting icon position */
.md-typeset .admonition>.admonition-title:before{
    top: 0.30rem;
}

/* adjusting toggle-button position */
.toggle.admonition button.toggle-button {
    margin-right: .5em;
    right: 0;
    position: absolute;
    top: .2rem;
}

/* Indent to level of code cells */
.md-typeset .sn-indent-cell {
    margin-left: 0.95rem;
}

/* Align to right side of code cells */
.sn-align-right-cell {
    display: flex;
    overflow: visible;
    justify-content: flex-end;
    margin-top: 0.2em;
    padding-right: 2em;
}


/* Reduce space between code cells and paragraphs */
/*.md-typeset .highlight-python.notranslate, .md-typeset .highlight-sql.notranslate ~ p {*/
/*    margin-top: 0.8rem;*/
/*    margin-bottom: 0.4rem;*/
/*}*/

/* Reduce space between paragraphs and code cells */
/*.md-typeset p ~ .highlight-python.notranslate, .md-typeset .highlight-sql.notranslate {*/
/*    margin-left: 0.9rem;*/
/*    margin-right: 2em;*/
/*    margin-bottom: -0.2rem;*/
/*}*/

/* Reduce space between paragraphs and code cells */
.md-typeset .sn-pre-code ~ .highlight-python.notranslate, .md-typeset .highlight-sql.notranslate, .md-typeset .highlight-default {
    margin-left: 0.9rem;
    margin-right: 2em;
    margin-bottom: -0.2rem;
}

.md-typeset p ~ .highlight-python.notranslate, .md-typeset .highlight-sql.notranslate, .md-typeset .highlight-default {
    margin-left: 0.9rem;
    margin-right: 2em;
    margin-bottom: -0.2rem;
}

.md-typeset .sn-snippet * {
    /*color: #1f708975;*/
    color: #afd5e2d9;
    margin-top: 0.3rem;
}

/* Panels ------------------------------------------------------------------ */

/* Reducing padding and margins of entire container */
div.admonition div.sphinx-bs.container.pb-4.docutils {
    padding: 0;
    margin: 0 0 -1.5rem;
}

/* Reducing padding on the row container */
div.row.docutils {
    margin: 0;
}

/* Reducing external padding */
div.card-body {
    padding: 0.1em;
    display: inline-block;
}

/* Unsetting code margins */
div.card-body.docutils .highlight-python.notranslate, .highlight-sql.notranslate  {
    margin: unset;
}

/* Removing margins from contained elements */
/*div.card-body * {*/
/*    margin: unset;*/
/*}*/

/* Removing shadow */
.card.w-100.shadow.docutils {
    border: 0;
    box-shadow: none !important;
}

/* Enabling flex of sub-containers*/
div.col-lg-6.col-md-6.col-sm-6.col-xs-12 {
    flex: 0 0 10%;
    max-width: 90%;
}


div.output.text_html {
    display: inline-flex;
    background-color: #fcfcfc;
    border-style: solid;
    border-width: thin;
    border-color: #f7f7f7;
    padding: 0.2rem;
}

/*div.output.text_html * {*/
/*    color: #212529;*/
/*    margin: -0.15rem;*/
/*    padding-top: 0.1rem;*/
/*    padding-bottom: 0.1rem;*/
/*    text-align: center;*/
/*}*/

div.output.text_html th  {
    font-size: 90%;
}

.md-typeset__scrollwrap {
    margin-bottom: -1em;
}


/* Sphinx Panels ----------------------------------------------------------- */

details.sphinx-bs.dropdown {
    width: auto;
    display: inline-block;
    margin: -0.15rem 1.5rem .7rem 0.9rem;
    border-style: solid;
    border-width: thin;
    border-color: #11838e2e;
    overflow: hidden;
}

details.sphinx-bs.dropdown summary.summary-title.card-header {
    /* line-height: inherit; */
    line-height: 0.7rem;
    background-color: #ffff;
    border-bottom-color: #11838e2e;
    font-weight: 100;
    padding: .4rem .6rem .4rem 2rem;

}

details.sphinx-bs.dropdown summary.summary-title.card-header::before {
    color: #11838e;
    top: 0.12rem;
    font-weight: 900; /* 600+ if not on pro */
    font-size: 1.3rem;
    font-family: 'FontAwesome', serif; /* TODO: FontAwesome 4.7 -> 5.0 */
    content: "\f103";  /* double arrows down */
}

/* details.sphinx-bs.dropdown>.summary-title:before{
    content: none;
    top: .25em;
}
 */

.summary-title.card-header:after {
    content: none;
}

details.sphinx-bs.dropdown summary.summary-title.card-header .summary-down.docutils {
    top: 0.2rem;
    right: 0.2em;
}

details.sphinx-bs.dropdown summary.summary-title.card-header .summary-up.docutils {
    top: 0.2rem;
    right: 0.2em;
}

div.summary-content.card-body.docutils {
/*     display: -webkit; */
/*     padding: 0; */
/*     hover: none; */
    pointer-events: none;
}
